doctype html 
html 
    head 
        title Local Library 
    body 
        h1 Welcome to Local Library
        ul 
        li 
            a(href='/viewAllAuthors') View All Authors
        li 
            a(href='/viewAllBooks') View All Books