doctype html 
html 
    head
        title Local Library 
    body 
        h1 Authors
        #authors 
        ul 
            each author in authors 
                li 
                    a #{author.name}


                    
