doctype html 
html 
    head
        title Local Library 
    body 
        h1 Authors
        #authors
        div 
            ul 
                each author in authors 
                    li 
                        a(href="/viewBooksByAuthor/"+ author.id + "/" + author.name) #{author.name}


                    
