doctype html 
html 
  head
    title Local Library
    link(rel="stylesheet", href="/style.css")
  body 
    h1 List of all books
    div(class='container') 
      a(href="/") Home
    div 
      table 
        tr 
          th Title 
          th Author 
          th Genre
          th Action
        each book in books 
          tr
            td  #{book.title}
            td  #{book.author}
            td  #{book.genre}
            td
              form(action="/deleteBook/" + book.id + "/" + book.title method='POST')
                button(type='submit' class='danger-btn') Delete
        


                    
