<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <title>Local Library</title>
  </head>
  <body>
    <h1>Books</h1>
    <div class="container">
    <a href="/">Home</a>
    <a href="/addBook">Add a Book</a>
    </div>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{book[1]}}</td>
        <td>{{book[2]}}</td>
        <td>{{book[3]}}</td>
        <td class="container">
          <form action="/updateBook/{{ book[0] }}" method="GET">
            <button type="submit" class="action-btn">Update</a>
          </form>
          <form action="/deleteBook/{{ book[0] }}" method="POST">
            <button type="submit" class="danger-btn">Delete</a>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
